<!-- = when you want the value to display in html -->
<a href="/">home</a>
<h1><%= @title %></h1>
<p><%= @year %></p>
<p><%= @rater %> - <%= @rating %></p>
<p><%= @director %></p>
<p><%= @plot %></p>
<img src="<%= @poster %>" alt="poster">