<%= form_for @city do |elem| %>
    <div>
        <%= elem.label :city %>
        <%= elem.text_field :city %>
    </div>
    
    <% @city.images.each do |image| %>
    <div>

        <%= @elem.images.label :url %>
        <%= elem.text_field :url %>
    </div>
    <div>
        <%= elem.label :description %>
        <%= elem.text_field :description %>
    </div>

    <%= elem.submit %>
<% end %>