<h1>Welcome to the Sorting Hat!</h1>
<%= image_tag "http://flavorwire.files.wordpress.com/2009/06/sorting-hat.jpg" %>

<%= form_for @student do |elem| %>
    <div>
        <%= elem.label :name %>
        <%= elem.text_field :name %>
    </div>
    <div>
        <%= elem.label :img_url %>
        <%= elem.text_field :img_url %>
    </div>

    <%= elem.submit %>
<% end %>